{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% from 'GestionBundle:Macros:macro.html.twig' import  info_patient %}
    {% block page_content %}
     <div class="row">
         <section class="col-md-3 connectedSortable">

        {{ info_patient(patient, true) }}

        </section>
        <div class="col-md-9">
            <!-- general form elements -->
            <div class="box box-danger">
                <div class="box-header">
                    <!-- Horizontal Form -->
                    <div class="">
                        <div class="box-header with-border">
                            <h3 class="box-title">Documenthèque Patient {{ patient.personne.nomComplet }}</h3>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    
                    <a class="btn btn-default"
                            href="{{ path('gestion_fichierpatient_new') }}"
                           ><i class="fa fa-plus"></i> Nouveau Fichier </a>
                    
                    <ul class="list-unstyled">
                    {% for fichier in fichiers %}
                        <li>
                            <a href="{{ url('admin_parametre_fichier_show', {id: fichier.fichier.id}) }}">
                                <span class="fa fa-file"></span> {{ fichier.fichier.title }}
                            </a>
                            <p>
                                <span class="fa fa-calendar"></span> {{ fichier.fichier.dateFichier | translate_date(true) }}<br />
                                <span class="fa fa-user"></span> {{ fichier.medecin.personne.nomComplet }}<br />
                                <span class="fa fa-phone"></span> {{ fichier.medecin.personne.contact }}<br />
                            </p>
                        </li>
                    {% endfor %}
                    </ul>
                        <div class="navigation">
                            {{ knp_pagination_render(fichiers) }}
                                
                        </div>

                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
 {% block page_title %}
        Fichiers Patient
    {% endblock %}