<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Badge {{ patient.identifiant }}</title>
		<style>
			body {
				font-size: 12px;
				font-family: Montserrat;
			}

			{
				% block page_css %
			}

			@page {
				background-image: url("{{ absolute_url(asset('public/img/carte_web_recto.png')) }}") no-repeat 0 0;
				background-image-resize: 6;
				margin-footer: 0.3cm;
				margin-top: 0cm;
				margin-header: 0cm;
				margin-left: 0cm;
				margin-right: 0cm;
			}

			.page-container {
				position: relative;
				width: 85mm;
				height: 55mm;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.outer_container {
				background-image: url('{{ absolute_url(asset('public/img/carte_web_verso.png')) }}') no-repeat 0 0;
			}


        .inner_container {
            width: 100%;
            margin: 0 auto;
        }

        .inner_container img {
            max-width: 100%;
            margin-left: 50px;
            margin-top: 35px;
            height: 100%;
        }

			.clearfix:after,
			{
			% endblock %
			}

			.clearfix:before {
				content: " ";
				display: table;
			}

			.clearfix:after {
				clear: both;
			}

			.table {
				width: 100%;
				max-width: 100%;
				border-collapse: collapse;

			}

			.table {
				page-break-before: auto;
			}

			.table td,
			.table th {
				padding: 2px;
				vertical-align: top;
				border-top: 1px solid #191919;
			}

			.table thead th {
				vertical-align: bottom;
				border-bottom: 2px solid #191919;
			}

			.table tbody+tbody {
				border-top: 1px solid #191919;
			}

			.table .table {
				background-color: #fff;
			}

			.table-sm td,
			.table-sm th {
				padding: 0.3rem;
			}

			.table-bordered {
				border: 1px solid #191919;
			}

			.table-bordered td,
			.table-bordered th {
				border: 1px solid #191919;
			}

			.table-bordered thead td,
			.table-bordered thead th {
				border-bottom-width: 1px;
			}

			.table-responsive.table-bordered {
				border: 0;
			}

			.double_underline {
				text-decoration: underline;
				border-bottom: 1px solid #000;
				text-align: center;
			}

			.mention {
				position: absolute;
				bottom: 10px;
				left: 27mm;
				right: 10px;
			}

		</style>
	</head>

	<body>
		{# <div class="content"> #}
			<h1 style="font-size:38px; font-weight:bold; color:#000; position:absolute; left:3.1cm; top:0.45cm; color:#fff">{{ 'Carte de santé numérique' | upper }}
			</h1>
			<div style="position:absolute; left:2.8cm; top: 1.3cm;">
				<div style="">
					<table style="width:100%;border:none;font-weight: bold;padding-top:20">
						<tr>
							<td style="width:100%; padding-top:0px;font-size:45px"><span style="color:#29614B">{{ (patient.personne.nom)|upper }}<br>{{ (patient.personne.prenom )|upper}}</span>
							</td>
						</tr>
					</table>
				</div>
				<div class="clearfix">
					<div style="width:100%;text-align:center;" class="padding-top:2cm;">
						<table style="width:100%;border:none;font-weight: bold;">
							<tr>
								<td style="width:33.33%;padding-top:50px">
									<span style="color:#000;font-size:30px;">ID</span><br>
									<span style="font-size:37px;">{{ patient.identifiant }}</span>
								</td>
								<td style="width:33.33%;font-size:18px;padding-top:50px;">
									<span style="color:#000;font-size:30px;">PIN</span><br>
									<span style="font-size:37px;">{{ patient.pin }}</span>
								</td>
								{# <td style="width:33.33%;font-size:18px;padding-top:50px;"><span style="color:#000;font-size:18px;">GROUPE SANGUIN</span><br> <span
										style="font-size:30px;">{{ patient.groupeSanguin.libelle | default('') }}</span>
								</td> #}
							</tr>
						</table>

					</div>
				</div>
				<div style="padding-top:35px;">
					<table style="width:100%;border:none;font-weight: bold;">
						<tr>
							<td style="width:50%;"><span style="color:#000;font-size:30px;">Etablie le</span>
								<br>
								<span style="font-size:37px">{{ 'now' | date('d/m/Y') }}</span>
							</td>
							<td style="width:50%; padding-top:0px;font-size:30px;">
								<span style="color:#000;font-size:30px;"></span>
								<br>
								{# <span style="font-size:30px;">{{ patient.ville.nom|default('ABIDJAN') }}</span> #}
								<span style="font-size:37px;">{{ ('LA POSTE CI') }}</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		{# </div> #}
		<div class="mention">
			<div style="border:2px solid #53B347; width:60%;margin:0 auto"></div>
			<div style="text-align:center;font-weight:bold; font-size:17px; margin-top:5px; color:#000;padding-top:0px;">
				Cette carte est strictement personnelle. Toute personne trouvant<br>
				la carte est priée de la deposer à l'agence postale la plus proche.
				<br>
				(+225) 25 20 00 68 44 / 25 20 00 69 50 / infos@laposte.ci<br>
			</div>
		</div>
		<pagebreak />
		<div class="outer_container" name=""></div>
	</body>

</html>
