{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% from 'GestionBundle:Macros:macro.html.twig' import affections, allergies, assurances, telephones, vaccinations, medecins, traitements %}
{% block stylesheets %}
    {{ parent() }}
      <link rel="stylesheet" href="{{ asset('public/css/parsley.css') }}" />
{% endblock %}

{% block page_content %}
    <div class="row">
        <section class="col-md-12">
            <!-- general form elements -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% if is_granted('view', patient) %}
                    <li class="active"><a href="{{ path ('admin_gestion_patient_new') }}">Modifier Patient</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">

                    <div class="active tab-pane" id="ajouter">
                        <div class="box-body">
                            {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate', 'data-parsley-validate': true} }) }}
                                <div id="list-allergie"
                                     data-prototype="{{ allergies(edit_form.allergies.vars.prototype)|e }}"></div>
                                <div id="list-affection"
                                     data-prototype="{{ affections(edit_form.affections.vars.prototype)|e }}"></div>
                                <div id="list-assurance"
                                     data-prototype="{{ assurances(edit_form.assurances.vars.prototype)|e }}"></div>
                                <div id="list-telephone"
                                     data-prototype="{{ telephones(edit_form.telephones.vars.prototype)|e }}"></div>
                                <div id="list-vaccination"
                                     data-prototype="{{ vaccinations(edit_form.vaccinations.vars.prototype)|e }}"></div>
                                 <div id="list-medecin"
                                     data-prototype="{{ medecins(edit_form.medecins.vars.prototype)|e }}"></div>
                                <div id="list-traitement"
                                     data-prototype="{{ traitements(edit_form.traitements.vars.prototype)|e }}"></div>
                                {{ form_errors(edit_form )}}
                                <div class="box-footer">
                                    <div class="box-header with-border">
                                        <div type="button" class="pull-left titre">Informations Patient</div>
                                        <a href="{{ path ('admin_gestion_patient_info') }}" type="button"
                                           class="btn btn-default pull-right" title="Afficher">
                                            <i class="fa fa-list-alt"></i> Afficher
                                        </a>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="box-body">
                                            {# <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-4 control-label" for="{{ edit_form.identifiant.vars.id }}">Identifiant <span class="text-danger">*</span></label>

                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.identifiant) }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-4 control-label" for="{{ edit_form.pin.vars.id }}">Pin <span class="text-danger">*</span></label>

                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.pin) }}
                                                    </div>
                                                </div>

                                            </div> #}
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-4 control-label">Nom <span class="text-danger">*</span></label>

                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.personne.nom) }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-4 control-label">Prenom(s) <span class="text-danger">*</span></label>

                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.personne.prenom) }}
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-4 control-label">Date Naissance <span class="text-danger">*</span></label>

                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.personne.datenaissance) }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-4 control-label">Sexe <span class="text-danger">*</span></label>

                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.sexe) }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-4 control-label">Taille (cm) <span class="text-danger"></span></label>

                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.taille) }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-4 control-label">Poids <span class="text-danger"></span></label>

                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.poids) }}
                                                    </div>
                                                </div>

                                            </div>
                                            
                                        </div>
                                        <!-- /.box-body -->


                                    </div>

                                    <div class="col-md-6">

                                        <div class="box-body patient_img col-sm-offset-3">
                                            <div class="form-group">
                                                <img id="blah" class="profile-user-img img-responsive  dropzone" width=180 height=180
                                                        {% if patient.personne.photo is not null %}
                                                            src="{{ asset(patient.personne.photo.webPath) }}" alt="{{ patient.personne.photo.alt }}"
                                                        {% else %}src="{{ asset('bundles/avanzuadmintheme/img/avatar.png') }}" alt="User profile picture"
                                                        {% endif %}
                                                />

                                            </div>
                                            <div class="form-group">

                                                    {{ form_widget(edit_form.personne.photo) }}
                                                    <p class="help-block">Limite ( {{ limit }} )</p>

                                            </div>

                                        </div>
                                        <!-- /.box-body -->


                                    </div>

                                </div>

                                <div class="box-footer">
                                    <div class="col-md-6 barre-right">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Groupe Sanguin</label>

                                                <div class="col-sm-8">

                                                    {{ form_widget(edit_form.groupeSanguin) }}
                                                    <p class="small"><span class="fa fa-info-circle"></span> Nous vous conseillons de remplir cette information si possible</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Enfant(s)</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.nombreEnfant) }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Contact <span class="text-danger">*</span></label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.personne.contact) }}
                                                    <p class="small text-info"><span class="fa fa-info-circle"></span> Un seul de numéro de téléphone pour vos rappels de vaccins et SMS de RDV</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Profession</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.profession) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Entreprise</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.societe) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Affiliation</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.personne.corporate) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group hide">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Signature</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.personne.signature) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6 ">
                                        
                                         <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Pays</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.pays) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Ville</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.ville) }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Adresse</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.adresse) }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Lieu d'habitation</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.lieuhabitation) }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Nationalité</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.nationalite) }}
                                                </div>
                                            </div>

                                        </div>
                                         <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Religion</label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(edit_form.religion) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        data-widget="collapse"
                                                        data-toggle="tooltip" style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                Autres informations
                                            </h3>
                                        </div>
                                        
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                   
                                                    {{ form_widget(edit_form.attribut) }}
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>
                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        data-widget="collapse"
                                                        data-toggle="tooltip" style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                Medecin(s) Traitant(s)
                                            </h3>
                                        </div>
                                        <div class="box-footer no-border">
                                            <button type="button" class="btn btn-default add_medecin"
                                                    id="add_medecin">
                                                <i class="fa fa-plus"></i>
                                                Nouveau
                                            </button>
                                        </div>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Medecin</th>
                                                    <th>Spécialité</th>
                                                    <th>Contact</th>
                                                    <th>Hopital</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_medecin" class="collection list_medecin">
                                                {% for item in edit_form.medecins %}
                                                    {{ medecins(item|e) }}
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>

                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        data-widget="collapse"
                                                        data-toggle="tooltip" style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                Personnes à contacter
                                            </h3>
                                        </div>
                                        <div class="box-footer no-border">
                                            <button type="button" class="btn btn-default add_telephone"
                                                    id="add_telephone">
                                                <i class="fa fa-plus"></i>
                                                Ajouter
                                            </button>
                                        </div>
                                        <p class="text-info">
                                            <span class="fa fa-info"></span> Il est recommandé que vous spécifiez au moins une personne à contacter
                                        </p>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Numero</th>
                                                    <th>Lien</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_telephone" class="collection list_telephone">
                                                {% for item in edit_form.telephones %}
                                                    {{ telephones(item|e) }}
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>

                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        data-widget="collapse"
                                                        data-toggle="tooltip" style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                Assurances
                                            </h3>
                                        </div>
                                        <div class="box-footer no-border">
                                            <button type="button" class="btn btn-default add_assurance"
                                                    id="add_assurance">
                                                <i class="fa fa-plus"></i>
                                                Ajouter Assurance
                                            </button>
                                        </div>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Assurance</th>
                                                    <th>Numero</th>
                                                    <th>Taux</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_assurance" class="collection list_assurance">
                                                {% for item in edit_form.assurances %}
                                                    {{ assurances(item|e) }}
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>

                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        data-widget="collapse"
                                                        data-toggle="tooltip" style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                Allergies
                                            </h3>
                                        </div>
                                        <div class="box-footer no-border">
                                            <button type="button" class="btn btn-default add_allergie"
                                                    id="add_allergie">
                                                <i class="fa fa-plus"></i>
                                                Ajouter Allergie
                                            </button>
                                        </div>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Allergie</th>
                                                    <th>Commentaire</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_allergie" class="collection list_allergie">
                                                {% for item in edit_form.allergies %}
                                                    {{ allergies(item|e) }}
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>

                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        data-widget="collapse"
                                                        data-toggle="tooltip" style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                Affections
                                            </h3>
                                        </div>
                                        <div class="box-footer no-border">
                                            <button type="button" class="btn btn-default add_affection"
                                                    id="add_affection">
                                                <i class="fa fa-plus"></i>
                                                Ajouter Affection
                                            </button>
                                        </div>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Affection</th>
                                                    <th>Commentaire</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_affection" class="collection list_affection">
                                                {% for item in edit_form.affections %}
                                                    {{ affections(item|e) }}
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>
                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        data-widget="collapse"
                                                        data-toggle="tooltip" style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                Traitements suivis
                                            </h3>
                                        </div>
                                        <div class="box-footer no-border">
                                            <button type="button" class="btn btn-default add_traitement"
                                                    id="add_affection">
                                                <i class="fa fa-plus"></i>
                                                Ajouter traitement
                                            </button>
                                        </div>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Traitement</th>
                                                    <th>Statut</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_traitement" class="collection list_traitement">
                                                {% for item in edit_form.traitements %}
                                                    {{ traitements(item|e) }}
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>

                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        data-widget="collapse"
                                                        data-toggle="tooltip" style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                Vaccinations
                                            </h3>
                                        </div>
                                        <div class="box-footer no-border">
                                            <button type="button" class="btn btn-default add_vaccin"
                                                    id="add_vaccin">
                                                <i class="fa fa-plus"></i>
                                                Ajouter Vaccin
                                            </button>
                                        </div>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Vaccin</th>
                                                    <th>Date</th>
                                                    <th>Rappel</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_vaccin" class="collection list_vaccin">
                                                {% for item in edit_form.vaccinations %}
                                                    {{ vaccinations(item|e) }}
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>

                                <div class="box-footer">
                                    {{ form_widget(edit_form.submit,{'attr':{'class':'btn btn-warning pull-right'}}) }}
                                    <!-- /.box -->
                                </div>

                            {{ form_end(edit_form) }}
                        </div>

                    </div>
                    <!-- /.tab-pane -->

                </div>
                <!-- /.tab-content -->
            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/admin-lte-all.js') }}"></script>
    <script src="{{ asset('public/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/gestion/js/fr.js') }}"></script>
    <script src="{{ asset('dropzone/dist/min/bootstrap-filestyle.min.js') }}"></script>
    <script src="{{ asset('bundles/avanzuadmintheme/js/patient.js') }}"></script>
    <script src="{{ asset('public/js/parsley.min.js') }}"></script>
    <script src="{{ asset('public/js/i18n/fr.js') }}"></script>

    <script>
        $('.collection').find('select').select2();
    //, {attr: {"pattern": "((0{2}|\+)(225))\?([0-9]{8})"}}) 
        /*window.Parsley
          .addValidator('phone', {
            validateString: function(value) {
              return (/^((0{2}|\+)(225))?(\d{8})$/.test(value));
            },
            messages: {
              fr: 'Ce numéro n\'est pas dans un format correct'
            }
          });*/
    </script>

{% endblock %}

{% block page_title %}
    Patient
{% endblock %}
{% block page_subtitle %}
{% endblock %}