<html>
<head>
<style>
    @page {
        size: auto;
        /* odd-header-name: html_myHeader1;
        even-header-name: html_myHeader2;
        odd-footer-name: html_myFooter1;
        even-footer-name: html_myFooter2; */
    }
    @page chapter2 {
        background-image: url("{{ absolute_url(asset('public/img/carte_web_recto.png')) }}") no-repeat 0 0;
        odd-header-name: html_Chapter2HeaderOdd;
        even-header-name: html_Chapter2HeaderEven;
        odd-footer-name: html_Chapter2FooterOdd;
        even-footer-name: html_Chapter2FooterEven;
    }
    @page noheader {
        background-image: url('{{ absolute_url(asset('public/img/carte_web_verso.png')) }}') no-repeat 0 0;
        /* odd-header-name: _blank;
        even-header-name: _blank;
        odd-footer-name: _blank;
        even-footer-name: _blank; */
    }
    div.chapter2 {
        page-break-after: left;
        page: chapter2;
    }
    div.noheader {
        /* page-break-before: recto; */
        page: noheader;
    }
</style>
</head>

<body>
    <div class="chapter2">
    <h1 style="font-size:38px; font-weight:bold; color:#000; position:absolute; left:3.1cm; top:0.45cm; color:#fff">{{ 'Carte de santé numérique' | upper }}
			</h1>
			<div style="position:absolute; left:2.8cm; top: 1.3cm;">
				<div style="">
					<table style="width:100%;border:none;font-weight: bold;padding-top:20">
						<tr>
							<td style="width:100%; padding-top:0px;font-size:45px"><span style="color:#29614B">{{ (patient.personne.nom)|upper }}<br>{{ (patient.personne.prenom )|upper}}</span>
							</td>
						</tr>
					</table>
				</div>
				<div class="clearfix">
					<div style="width:100%;text-align:center;" class="padding-top:2cm;">
						<table style="width:100%;border:none;font-weight: bold;">
							<tr>
								<td style="width:33.33%;padding-top:50px">
									<span style="color:#000;font-size:30px;">ID</span><br>
									<span style="font-size:37px;">{{ patient.identifiant }}</span>
								</td>
								<td style="width:33.33%;font-size:18px;padding-top:50px;">
									<span style="color:#000;font-size:30px;">PIN</span><br>
									<span style="font-size:37px;">{{ patient.pin }}</span>
								</td>
								{# <td style="width:33.33%;font-size:18px;padding-top:50px;"><span style="color:#000;font-size:18px;">GROUPE SANGUIN</span><br> <span
										style="font-size:30px;">{{ patient.groupeSanguin.libelle | default('') }}</span>
								</td> #}
							</tr>
						</table>

					</div>
				</div>
				<div style="padding-top:35px;">
					<table style="width:100%;border:none;font-weight: bold;">
						<tr>
							<td style="width:50%;"><span style="color:#000;font-size:30px;">Etablie le</span>
								<br>
								<span style="font-size:37px">{{ 'now' | date('d/m/Y') }}</span>
							</td>
							<td style="width:50%; padding-top:0px;font-size:30px;">
								<span style="color:#000;font-size:30px;"></span>
								<br>
								{# <span style="font-size:30px;">{{ patient.ville.nom|default('ABIDJAN') }}</span> #}
								<span style="font-size:37px;">{{ ('LA POSTE CI') }}</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		<div class="mention">
			<div style="border:2px solid #53B347; width:60%;margin:0 auto"></div>
			<div style="text-align:center;font-weight:bold; font-size:17px; margin-top:5px; color:#000;padding-top:0px;">
				Cette carte est strictement personnelle. Toute personne trouvant<br>
				la carte est priée de la deposer à l'agence postale la plus proche.
				<br>
				(+225) 25 20 00 68 44 / 25 20 00 69 50 / infos@laposte.ci<br>
			</div>
		</div>
    </div>

    <div class="noheader"></div>

</body>
</html>