{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
      <link rel="stylesheet" href="{{ asset('public/css/parsley.css') }}" />
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">
                <div class="box-header">
                    <div class="col-md-12">
                        <!-- Horizontal Form -->
                        <div class="">
                            <div class="box-header with-border">
                                <h3 class="box-title">Changer de mot de passe </h3>
                            </div>
                            {% for flashMessage in app.session.flashbag.get('fos_user_success') %}
                                {{ flashMessage }}
                            {% endfor %}
                            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/parsley.min.js') }}"></script>
    <script src="{{ asset('public/js/i18n/fr.js') }}"></script>
    <script src="{{ asset('bundles/site/v2/js/validator-rules.min.js') }}"></script>

{% endblock %}

{% block page_title %}
    Modification ::
{% endblock %}

    {% block page_subtitle %}
        Mot de passe
    {% endblock %}
