<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" data-parsley-validate>
    {{ form_row(form.current_password) }}
    {{ form_row(form.new.first, {'attr': {"class": 'validate-password'}}) }}
    {% include 'UtilisateurBundle:Rules:password.html.twig' %}
    {{ form_row(form.new.second, { 'attr': {'data-parsley-equalto': '#fos_user_change_password_form_new_first', 'data-parsley-trigger': 'input', 'data-parsley-equalto-message': 'Vos deux mots de passe ne correspondent pas'}}) }}

    {{ form_row(form._token) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-warning pull-right" />
    </div>
</form>