<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-delete{{affection.id }}"><i class="fa fa-remove"></i></button>
<div class="modal " id="modal-delete{{affection.id}}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <style>
                #modal-delete{{affection.id}} {
                text-align: center;
                padding: 0!important;
                }
                #modal-delete{{affection.id}}:before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                margin-right: -4px;
                }
                #modal-delete{{affection.id}} .modal-dialog {
                display: inline-block;
                text-align: left;
                vertical-align: middle;
                }
            </style>
           {{ form_start(form) }}
            <div class="modal-body">
                Souhaitez-vous supprimer définitivement <span style="color: red">{{ affection.nom }}</span>?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger">Supprimer</buttons>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
           {{ form_end(form) }}
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

