{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}


{% block page_content %}

<div class="row" xmlns="http://www.w3.org/1999/html">

        <section class="col-md-3 connectedSortable">

            <!-- Profile Image -->
            <div class="box box-solid">
                <div class="box-header bg-light-blue-gradient">
                    <!-- tools box -->
                    <div class=" box-tools">
                        <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                                data-toggle="tooltip"  style="margin-right: 5px;">
                            <i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /. tools -->

                    <i class="fa fa-user"></i>

                    <h3 class="box-title">
                        Information Patient
                    </h3>
                </div>
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" {% if patient.personne.photo is not null %}src="{{ asset(patient.personne.photo.webPath) }}" alt="{{ patient.personne.photo.alt }}"{% else %}src="{{ asset('bundles/avanzuadmintheme/img/avatar.png') }}" alt="User profile picture"{% endif %}>

                    <h3 class="profile-username text-center">{{ patient.personne.getNomComplet }}</h3>

                    <p class="text-muted text-center">{{ patient.profession }} / {{ patient.societe }}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Groupe Sanguin</b> <a class="pull-right">{{ patient.groupeSanguin.libelle }}</a>
                        </li>

                        <li class="list-group-item">
                            <b>Date de naissance</b> <a class="pull-right">{{ patient.personne.dateNaissance|date("d/m/Y") }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Sexe</b>
                            <a class="pull-right">
                                {% if patient.sexe == 'F' %}
                                    Femme
                                {% elseif patient.sexe == 'M' %}
                                    Homme
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Enfant(s)</b> <a class="pull-right">{{ patient.nombreEnfant }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Contact</b> <a class="pull-right">{{ patient.personne.contact }}</a>
                        </li>
                    </ul>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

        <!-- /.col -->
        <section class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                   
                    <li class="active"><a href="{{ path ('admin_gestion_infirmier_patient') }}">Nouvelles
                            constantes</a></li>
                </ul>
                <div class="tab-content">

                    <div class="active tab-pane" id="nouvelle">
                        {{ form_errors(form) }}
                        <!-- general form elements -->
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
                        
                        <div class="">
                            {#<div class="right col-md-3">
                                {{ form_widget(form.dateConsultation) }}
                            </div>#}
                            <!-- /.box-header -->
                            <div class="box-footer">
                                <div class="col-md-6 ">

                                    <div class="box-header with-border">
                                        <div type="button" class="pull-left titre">Informations Patient</div>
                                    </div>

                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Date <span
                                                            class="red">*</span></label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(form.dateConsultation) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Tension <span class="red">*</span></label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(form.tension) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">Poids(kg) <span
                                                            class="red">*</span></label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(form.poids) }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-4 control-label">T(°C) <span
                                                            class="red">*</span></label>

                                                <div class="col-sm-8">
                                                    {{ form_widget(form.temperature) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.box-body -->


                                </div>

                                <div class="col-md-6 barre">

                                    <div class="box-header with-border">
                                        <div type="button" class="pull-left titre success">Autres Informations</div>
                                    </div>

                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-3 control-label">Spécialité <span
                                                            class="red">*</span></label>

                                                <div class="col-sm-9">
                                                    {{ form_widget(form.specialite) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-3 control-label">Motif <span
                                                            class="red">*</span></label>

                                                <div class="col-sm-9">
                                                    {{ form_widget(form.motif) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-3 control-label">Medecin <span class="red">*</span></label>

                                                <div class="col-sm-9">
                                                    {{ form_widget(form.medecin) }}
                                                </div>
                                            </div>
                                        </div>

                                        

                                    </div>
                                    <!-- /.box-body -->


                                </div>

                            </div>
                            {% if not consultation.id %}
                            <div class="box-footer">
                                <button type="reset" class="btn btn-default">
                                    Effacer
                                </button>
                                {{ form_widget(form.submit,{'attr':{'class':'btn btn-primary pull-right'}}) }}
                                <!-- /.box -->
                            </div>
                            {% endif %}
                             {{ form_widget(form._token, {id: form._token.vars.id ~ '_new' })}}
                            
                            {{ form_end(form, {render_rest: false}) }}
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </section>
        <!-- /.col -->
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/admin-lte-all.js') }}"></script>
    <script src="{{ asset('select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/avanzuadmintheme/js/main.js') }}"></script>

{% endblock %}

    {% block page_title %}
        {{ title }}
    {% endblock %}

    {% block page_subtitle %}
    {% endblock %}

