{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% import 'GestionBundle:Macros:html.html.twig' as _html %}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            Format à respecter <a href="{{ asset('uploads/format_liste_des_comptes_PPS.xlsx') }}">Voir le Fichier Exemple</a>
        </div>

        {{ form_errors(form)}}

        {% if errors|length %}
        <div class="alert alert-danger">

            {% for error in errors %}

            <p>{{ error }}</p>

            {% endfor %}

        </div>

        {% endif %}

        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'data-parsley-validate': true} }) }}

        <div class="form-group">

            <div class="col-sm-12">

                <label class="col-sm-4 control-label">{{ form_label(form.file) }}</label>

                <div class="col-sm-8">
                    {{ form_widget(form.file) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                <input type="submit" class="btn btn-success" value="Valider" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}





{% block page_title %}

{{ _html.text('pass.import') }}

{% endblock %}



{% block page_subtitle %}

{% endblock %}
