{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% import 'GestionBundle:Macros:html.html.twig' as _html %}

{% block page_content %}
<div class="row">
    {% if errors is not empty %}
    <div class="col-md-8">
        <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Liste des utilisateurs non pris en compte</h3>
        </div>
        <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th style="width: 10px">N°</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th style="width: 40px">Status</th>
                </tr>
                {% for error in errors %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ error.nom|default('')|upper }}</td>
                    <td>{{ error.email|default('')}}</td>
                    <td>{{ error.username|default('')}}</td>
                    <td><span class="badge bg-red">Echec</span></td>
                </tr>
                {% endfor %}
                <tr class="alert alert-danger">
                    <td colspan="5">
                        L'adresse mail ou le nom utilisateur de ces comptes existent déjà dans la base de données !
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
    </div>
    {% endif %}
    <div class="col-md-12">
        <div class="alert alert-info">
            Format à respecter <a href="{{ asset('uploads/format_liste_des_comptes_PPS.xlsx') }}">Voir le Fichier Exemple</a>

            <div>
                <span class="bg-color-danger">
                    Veuillez indiquer le rôle des utilisateurs, s'il n'existe pas dans le fichier Excel.
                </span>
            </div>
        </div>

        {{ form_errors(form)}}

        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'data-parsley-validate': true} }) }}
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-md-4 control-label">{{ form_label(form.file) }}</label>
                <div class="col-md-8">
                    {{ form_widget(form.file) }}
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 control-label">{{ form_label(form.roles) }}</label>
                <div class="col-md-8">
                    {{ form_widget(form.roles) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-md-4 control-label">{{ form_label(form.startCell) }}</label>
                <div class="col-md-8">
                    {{ form_widget(form.startCell) }}
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 control-label">{{ form_label(form.endCell) }}</label>
                <div class="col-md-8">
                    {{ form_widget(form.endCell) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <input type="submit" class="btn btn-success" value="Valider" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
    $('select').select2();
    </script>
{% endblock javascripts %}




{% block page_title %}

{{ _html.text('pass.import') }}

{% endblock %}



{% block page_subtitle %}

{% endblock %}
