    {% block page_content %}
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-details{{vaccin.id}}"><i class="fa fa-list-alt"></i></button>
    <div class="modal fade" id="modal-details{{vaccin.id}}">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Details vaccin</h4>
                </div>
                {{ form_start(show_form) }}
                <div class="modal-body">
                    <div class="box-body">
                        {{ form_widget(show_form) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Annuler</button>
                </div>
                {{ form_rest(show_form) }}
                {{ form_end(show_form) }}

            </div>
        </div>
    </div>
    {% endblock %}
