<div class="container">
    <span class="first-cirl wow fadeInUp">
        <b>
            <em class="hockup-mo-tootl">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <!-- <label>Protection anti-DDoS</label> -->
                <label>{{ 'home.section.innovation.first_circle.title' | trans }}</label>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.first_circle.content.ligne1' | trans }}
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.first_circle.content.ligne2' | trans }}
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.first_circle.content.ligne3' | trans }}.
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.first_circle.content.ligne4' | trans }}
                </span>
            </em>
        </b>
    </span>
    <span class="second-cirl wow fadeInUp">
        <b>
            <em class="hockup-mo-tootl">
                <i class="fa fa-qrcode" aria-hidden="true"></i>
                <label>{{ 'home.section.innovation.second_circle.title' | trans }}</label>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.second_circle.content.ligne1' | trans }}
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.second_circle.content.ligne2' | trans }}
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.second_circle.content.ligne3' | trans }}
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.second_circle.content.ligne4' | trans }}
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.second_circle.content.ligne5' | trans }}
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.second_circle.content.ligne6' | trans }}
                </span>
            </em>
        </b>
    </span>
    <span class="third-cirl wow fadeInUp">
        <b>
            <em class="hockup-mo-tootl">
                <i class="fa fa-child" aria-hidden="true"></i>
                <label>{{ 'home.section.innovation.third_circle.title1' | trans }}</label>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.third_circle.content.ligne1' | trans }}
                </span>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <label>{{ 'home.section.innovation.third_circle.title2' | trans }}</label>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.technique.h1' | trans }}
                </span>
                <span><u class="fa fa-check-circle" aria-hidden="true"></u>
                    {{ 'home.section.innovation.technique.label' | trans }}
                </span>
            </em>
        </b>
    </span>

    <div class="container">
        <div class="row justify-content-left bckbgpadd">
            <div class="col-4 plansshadow">
                <ul class="nav" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="planoneone-tab" data-toggle="tab" href="#planoneone" role="tab"
                            aria-controls="planoneone" aria-expanded="true">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            {{ 'home.section.innovation.section0.virsion' | trans }}
                            <i class="fa fa-quote-right" aria-hidden="true"></i><br>
                        </a>
                        <div class="rviw-wp-st">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <br />
                    </li>
                </ul>

                <div class="tab-content" id="customertab">
                    <div class="tab-pane fade show active" id="planoneone" role="tabpanel"
                        aria-labelledby="planoneone-tab">
                        <span class="customer-name"><b>{{ 'home.section.innovation.section0.titl0' | trans }}</b></span>
                        <!-- <span class="includedpans"><b>trafic illimité</b></span> -->
                        <ul class="list-option">
                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                <b>1</b>
                                {{ 'home.section.innovation.section0.content0' | trans }}
                            </li>
                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                {{ 'home.section.innovation.section0.content1' | trans }}</li>
                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                {{ 'home.section.innovation.section0.content2' | trans }}</li>

                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                {{ 'home.section.innovation.section0.content3' | trans }}
                            </li>
                        </ul>
                        <span
                            class="customer-name"><b>{{ 'home.section.innovation.section0.title1' | trans }}</b></span>
                        <!-- <span class="includedpans"><b>trafic illimité</b></span> -->
                        <ul class="list-option">
                            <li><i class="fa fa-check-circle" aria-hidden="true"></i> <b>1</b>
                                {{ 'home.section.innovation.section0.content4' | trans }}
                            </li>
                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                {{ 'home.section.innovation.section0.content5' | trans }}</li>
                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                {{ 'home.section.innovation.section0.content6' | trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="customertab-bottom">
            <img src="{{ asset('bundles/site/v3/images/box.png') }}" alt="" />
            <span>{{ 'home.section.innovation.technique.h1' | trans }}</span>
            {{ 'home.section.innovation.technique.label' | trans }}
        </p>
    </div>
</div>