<section class="our-services section-padding">
    <div class="container">
        <div class="section-title">
            <h2>{{ 'home.section.presentation.section0.title' | trans }}</h2> <br><br><br>
            <p>
                {{ 'home.section.presentation.section0.content' | trans | raw }}
            </p>
        </div>
        {# <div class="row">
            <div class="col-md-6 col-12 col-xs-12">
                <div class="box-service firt-block orng-box-icon wow fadeInUp">
                    <span class="fa fa-question fa-spin-hover"></span>
                    <h6>
                        {{ 'home.section.presentation.section1.title' | trans }}
                    </h6>
                    {{ 'home.section.presentation.section1.description' | trans }}:
                    {{ 'home.section.presentation.section1.content' | trans | raw }}
                </div>
            </div>

            <div class="col-md-6 col-12 col-xs-12">
                <div class="box-service firt-block orgwani-box-icon">
                    <span class="fa fa-qrcode fa-spin-hover"></span>
                    <h6>
                        {{ 'home.section.presentation.section2.title' | trans }}
                    </h6>
                    {{ 'home.section.presentation.section2.content' | trans | raw }}
                </div>
            </div>
        </div> #}
        <div class="row">
            <div class="container">
                <div class="section-title margin-b30">
                    <h2>
                    {# <span>{{ 'home.section.parteners.titl0' | trans }}</span> #}
                        {{ ('pourquoi pps ?')|upper }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 col-12 col-xs-12">
                <div class="box-service second-block  blue-box-icon wow fadeInUp">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/carte.png')}}" alt="" />
                    <h6>
                        {{ 'home.section.presentation.section3.title' | trans }}
                    </h6>
                    {{ 'home.section.presentation.section3.content' | trans | raw }}
                </div>
            </div>
            <div class="col-md-6 col-12 col-xs-12">
                <div class="box-service second-block green-box-icon">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/patient.png')}}" alt="" />
                    <h6>
                        {{ 'home.section.presentation.section4.title' | trans }}
                    </h6>
                    {# {{ 'home.section.presentation.section4.n_content' | trans | raw }} #}
                    <ul class="list-target">
                        <li>
                        Permettre à tout usager d’avoir accès à ses données de santé, son parcours, ses rendez-vous, ses praticiens.

                        </li>
                        <li>
                            Le Pass Poste Santé facilite le travail des professionnels de santé tout en améliorant la prise en charge des patients, d’accélérer le diagnostic grâce aux renseignements supplémentaires qu’il apporte mais aussi et surtout de maintenir une surveillance médicale continue.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-12 col-xs-12">
                <div class="box-service second-block  blue-box-icon wow fadeInUp">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/DOCTEUR.png')}}" alt="" />
                    <h6>
                        {# {{ 'home.section.presentation.section3.title' | trans }} #}
                    </h6>
                    <p>Permettre aux professionnels de santé d’avoir accès à une plateforme simples, sécurisés et interopérables pour leur exercice quotidien
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12 col-xs-12">
                <div class="box-service second-block green-box-icon">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/innov_vert.png')}}" alt="" />
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/PRISE EN CHARGE.png')}}" alt="" />
                    <h6>
                        {# {{ 'home.section.presentation.section4.title' | trans }} #}
                    </h6>
                    {{ 'home.section.presentation.section4.n_content' | trans | raw }}
                </div>
            </div>
            <div class="col-md-4 col-12 col-xs-12">
                <div class="box-service second-block  blue-box-icon wow fadeInUp">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/medecin_patient.png')}}" alt="" />
                    <h6>
                        {# {{ 'home.section.presentation.section3.title' | trans }} #}
                    </h6>
                    <p>Renforcer le lien entre les patients et les professionnels de santé par le numérique.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12 col-xs-12">
                <div class="box-service second-block green-box-icon">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/transport.png')}}" alt="" />
                    <h6>
                        {# {{ 'home.section.presentation.section4.title' | trans }} #}
                    </h6>
                    <p>Livrer des médicaments en toute confidentialité et en sécurité prescrit par les médecins depuis la plateforme du PPS 
                    </p>
                    {# {{ 'home.section.presentation.section4.n_content' | trans | raw }} #}
                </div>
            </div>
        </div>
        <div class="row ">
            
        </div>

        <div class="row">
            <div class="container">
                <div class="section-title margin-b30">
                    <h2>
                    {# <span>{{ 'home.section.innovation.titl0' | trans }}</span> #}
                        {{ ('A QUI S’ADRESSE PPS ?')|upper }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-12 col-xs-12">
                <div class="box-service wow fadeInUp">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/Professionnels de santé et Entreprise.png')}}" alt="" />
                    <h6>
                        {{ 'Professionnels de santé et Entreprise' | upper }}
                    </h6>
                    <p>
                    La carte PPS garantit une prise en charge optimale par les secours de secours de vos salariés ou bénéficiaires grâce à la mise à disposition immédiate de leurs informations d'urgence.
                    </p>
                    <ul class="list-target">
                        <li>
                        <i><strong>Collaborateur : </strong></i> Lors des accidents de travail, les services de secours ont du mal à identifier les victimes, savoir qui prévenir et avoir les informations pour une bonne prise en charge

                        </li>
                        <li>
                            <i><strong>Professionnel de santé : </strong></i> Les patients décèdent par manque d’information médicale qui sont en partie dues à une mauvaise association médicamenteuse
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-12 col-xs-12">
                <div class="box-service wow fadeInUp">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/Particuliers & Familles.png')}}" alt="" />
                    <h6>
                        {{ 'Particuliers & Familles' | upper }}
                    </h6>
                    <p>
                    La carte PPS permet aux services de secours d'optimiser votre prise en charge en cas d’urgence.
                    </p>
                    <ul class="list-target">
                        <li>
                        Contient les informations vitales, les personnes à prévenir en cas d’urgence pour permettre aux services de secours de sauver des vies.
                        </li>
                        <li>
                      Pour les sportifs, c’est utile car dans la pratique du sport on est amené à connaître des accidents. Donner au secours les informations pour une meilleure prise en charge
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-12 col-xs-12">
                <div class="box-service wow fadeInUp">
                    <img src="{{ asset('/bundles/site/v3/images/icons/presentation/LE COUPLE MERE-ENFANT.png')}}" alt="" />
                    <h6>
                        {{ 'LE COUPLE MERE-ENFANT' | trans }}
                    </h6>
                    <p>
                    La carte PPS permet de garantir un bon suivi de la mère et de l'enfant depuis la consultation prénatale à la consultation post-natale : 
                    </p>
                    <ul class="list-target">
                        <li>
                        <i><strong>A la maternité : </strong></i> Les services de maternité font face à des difficultés quotidiennes pour s'assurer que chaque nouveau-né soit correctement identifié et associé à sa mère.  
                        </li>
                        <li>
                            <i><strong>A la naissance : </strong></i> A la naissance : L'identifiant de la maman et de l'enfant sont créés et associés correctement à la naissance. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>