<!-- Slider -->

<div class="slidercontainer">
    <div id="mainslider" class="owl-carousel">
        <div class="slider-image-wrapper">
            <img src="{{ asset('/bundles/site/v3/images/slider/PPS3.jpeg')}}" alt="" />
        </div>
        <div class="slider-image-wrapper">
            <img src="{{ asset('/bundles/site/v3/images/slider/PPS2.jpeg')}}" alt="" />
        </div>
        <div class="slider-image-wrapper">
            <img src="{{ asset('/bundles/site/v3/images/slider/PPS1.jpeg')}}" alt="" />
        </div>
        <div class="slider-image-wrapper">
            <img src="{{ asset('/bundles/site/v3/images/slider/PPS4.jpeg')}}" alt="" />
        </div>
        <div class="slider-image-wrapper">
            <img src="{{ asset('/bundles/site/v3/images/slider/PPS5.jpeg')}}" alt="" />
        </div>
    </div>
</div>

<!-- End of Slider -->
