{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
      <link rel="stylesheet" href="{{ asset('public/css/parsley.css') }}" />
{% endblock %}
{% block page_content %}
    <div class="box">
        <div class="box-body">
            <p>Ceci est un mot de passe global pour tous vos comptes associés</p>
            {{ form_errors(form) }}
              {{ form_start(form, { 'attr': {'class': 'utilisateur form-horizontal', 'data-parsley-validate': true} }) }}           
                        
                        <div class="form-group">
                            <label for="nom" class="col-sm-4">Mot de passe</label>

                            <div class="col-sm-8">
                                {{ form_widget(form.plainPassword.first) }}
                                 {% include 'UtilisateurBundle:Rules:password.html.twig' %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nom" class="col-sm-4">Répétez mot de passe</label>

                            <div class="col-sm-8">
                                {{ form_widget(form.plainPassword.second) }}
                            </div>
                        </div>
                
                <button class=" btn btn-default">Valider</button>
                {{ form_end(form) }}
            
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/parsley.min.js') }}"></script>
    <script src="{{ asset('public/js/i18n/fr.js') }}"></script>
    <script src="{{ asset('bundles/site/v2/js/validator-rules.min.js') }}"></script>

{% endblock %}