{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% import 'GestionBundle:Macros:html.html.twig' as _html %}
{% from 'GestionBundle:Macros:macro.html.twig' import info_patient %}
{% block page_content %}

    <div class="row">
        <section class="col-md-3 connectedSortable">

            <!-- Profile Image -->
            <div class="box box-solid">
                <div class="box-header bg-light-blue-gradient">
                    <!-- tools box -->
                    <div class=" box-tools">
                        <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                                data-toggle="tooltip"  style="margin-right: 5px;">
                            <i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /. tools -->

                    <i class="fa fa-user"></i>

                    <h3 class="box-title">
                        {{ _html.text('Information Patient')}}
                    </h3>
                </div>
                <div class="box-body box-profile">
                     {{ info_patient(patient) }}

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.col -->
        <section class="col-md-9 connectedSortable">
            <div class="nav-tabs-custom">
                
                <div class="tab-content">

                    <div class="active tab-pane" id="nouvelle">
                        <!-- general form elements -->


                            <!-- /.box-header -->
                        <form class="form-horizontal">
                            <div class="box-footer">
                                <div class="col-md-12 ">

                                    <div class="box-header with-border">
                                        <div type="button" class="pull-left titre">
                                            {{ 'consultation.form.info.tilte' | trans }}</div>
                                    </div>
                                    <p>{{'consultation.form.info.medecin' | trans}} : <strong>{{ consultation.medecin.personne.nomComplet }} ({{ consultation.medecin.personne.contact }})</strong></p>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="dateConsultation" class="col-sm-4 control-label">{{'consultation.form.dateConsultation' | trans}}</label>

                                                <div class="col-sm-8">

                                                    <p class="help-block">{{ consultation.dateConsultation|date("d/m/Y") }}</p>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="dateConsultation" class="col-sm-4 control-label">{{'consultation.form.refConsultation ' | trans}}</label>

                                                <div class="col-sm-8">

                                                    <p class="help-block text-success"><strong>{{ consultation.refConsultation }}</strong></p>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="hopital" class="col-sm-4 control-label">{{'consultation.form.medecin.hopital' | trans}}</label>

                                                <div class="col-sm-8">

                                                    <p class="help-block">{{ consultation.hopital.nom }}</p>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="tension" class="col-sm-4 control-label">{{'consultation.form.tension' | trans}} </label>

                                                <div class="col-sm-8">

                                                    <p class="help-block">{{ consultation.tension }}</p>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="poids" class="col-sm-4 control-label">{{'consultation.form.poids' | trans}}</label>

                                                <div class="col-sm-8">
                                                    <p class="help-block">{{ consultation.poids }}</p>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="temperature" class="col-sm-4 control-label">
                                                    {{'consultation.form.temperature' | trans}}</label>

                                                <div class="col-sm-8">

                                                    <p class="help-block">{{ consultation.temperature }}"</p>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.box-body -->


                                </div>

                                <div class="col-md-12">

                                    <div class="box-header with-border">
                                        <div type="button" class="pull-left titre success">
                                            {{'consultation.form.autrinfo' | trans}}</div>
                                    </div>

                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="specialite" class="col-sm-4 control-label">
                                                    {{'consultation.form.specialite.label' | trans}}</label>

                                                <div class="col-sm-8">

                                                    <p class="help-block">{{ consultation.specialite.nom }}</p>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="diagnostique" class="col-sm-4 control-label">
                                                    {{'consultation.form.diagnostique' | trans}}</label>

                                                <div class="col-sm-8">

                                                <div class="text-content">{{ consultation.diagnostique }}</div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="motif" class="col-sm-4 control-label">
                                                    {{'consultation.form.motif' | trans}}</label>
                                                <div class="col-sm-8">
                                                <div class="text-content">{{ consultation.motif }}</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="hospitalisation" class="col-sm-4 control-label">
                                                    {{'consultation.form.hospitalisation'  | trans}}</label>

                                                <div class="col-sm-8">
                                                    <div class="text-content">{{ consultation.hospitalisation }}</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->


                                </div>

                            </div>

                            {% if consultation.affections is not empty %}
                                <div class="box-footer">
                                    <!-- Affections box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                                                        data-toggle="tooltip"  style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-flash"></i>

                                            <h3 class="box-title">
                                                {{'consultation.form.listeDianostic' | trans}}
                                            </h3>
                                        </div>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>{{'consultation.form.affection' | trans}}</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_affection" class="collection list_affection">
                                                {% for item in consultation.affections %}
                                                    <tr>
                                                        <td>{{ item.affection }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>
                            {% endif %}

                            {% if consultation.medicaments is not empty %}
                                <div class="box-footer">
                                    <!-- Medicaments box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                                                        data-toggle="tooltip"  style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-medkit"></i>

                                            <h3 class="box-title">
                                                {{'consultation.form.listeMedicament' | trans}}
                                            </h3>
                                        </div>
                                        <div class="box-footer no-border">

                                            
                                            <a href="{{ path('admin_consultation_ordonnance_preview_print', {'id': patient.id, 'id1': consultation.id}) }}" type="button" class="btn btn-danger pull-right" title="Imprimer ordonnance">
                                                <i class="fa fa-print"></i>
                                            </a>
                                        </div>
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>{{'consultation.form.nom' | trans}}</th>
                                                    <th>{{'consultation.form.posologie' | trans}}</th>
                                                    <th>{{'consultation.form.detail' | trans}}</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_medicament" class="collection list_medicament">
                                                {% for item in consultation.medicaments %}
                                                    <tr>
                                                        <td>{{ item.medicament }}</td>
                                                        <td>{{ item.posologie }}</td>
                                                        <td>{{ item.details }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>
                            {% endif %}

                            {% if consultation.analyses is not empty %}
                                <div class="box-footer">

                                    <!-- Analyses box -->
                                    <div class="box box-solid ">
                                        <div class="box-header bg-light-blue-gradient">
                                            <!-- tools box -->
                                            <div class=" box-tools">
                                                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                                                        data-toggle="tooltip"  style="margin-right: 5px;">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                            <!-- /. tools -->

                                            <i class="fa fa-search-plus"></i>

                                            <h3 class="box-title">
                                                {{'consultation.form.analyse.label' | trans}}
                                            </h3>
                                        </div>
                                        
                                        <div class="box-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>{{'consultation.form.analyse.nom' | trans}}</th>
                                                    <th>{{'consultation.form.analyse.description' | trans}}</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_analyse" class="collection list_analyse">
                                                {% for item in consultation.analyses %}
                                                    <tr>
                                                        <td>{{ item.analyse }}</td>
                                                        <td>{{ item.libelle }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- /.box-body-->

                                    </div>
                                    <!-- /.box -->

                                </div>
                            {% endif %}

                        </form>
                        
                            <div class="box-body">
                                {{ form_errors(form) }}
                        <!-- general form elements -->
                                {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
                                    <div class="col-md-12 ">

                                        <div class="box-header with-border">
                                            <div type="button" class="pull-left titre">{{'consultation.form.medecinConseil' | trans }}</div>
                                        </div>
                                    {{ form_row(form.etat) }}
                                    {{ form_row(form.detailsInfo) }}
                                    {{ form_widget(form.submit,{'attr':{'class':'btn btn-primary pull-right'}}) }}
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        

                        </div>
                    </div>
                    <!-- /.tab-pane -->

                </div>
            <!-- /.nav-tabs-custom -->
        </section>
        <!-- /.col -->
    </div>

{% endblock %}

    {% block page_title %}
        Consultation :: Détails
    {% endblock %}

    {% block page_subtitle %}
    {% endblock %}

