{#<style type="text/css">
    fieldset {
        min-width: 0;
        padding: 0;
        padding-left: 10px;
        margin: 0;
        border: solid 1px #aaaaaa;
    }
    fieldset table{
        padding-bottom: 15px;
    }
    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: inherit;
        color: #333;
        border: 0;
    }
    .rci{
        width: 100%;
        padding-bottom: 5px;
        border-bottom: solid 1px #aaaaaa;
    }
    .udt{
        width: 100%;
    }
    table{width: 100%; border-collapse: collapse; border: none}
    table td{min-height: 100px}
    .text-left{text-align: left;}
    .text-right{text-align: right;}
    .text-center{text-align: center;}
    .border-top{border-top: solid 1px #000000}
    .titre0{width: 20%}
    .titre1{width: 20%}
    .titre{font-size: 21px;font-weight: bold; width: 60%}
    .left{float: left}
    .right{float: right}
    .republic{font-size: 12px}
    .italique{font-style: italic;}
    .separator{width: 100%; height: 10px;}
    .pad5{padding-left: 5px}

    .header td{width: 33%; vertical-align: top; border: 0; padding: 5px;}

    .signature td{width: 50%; vertical-align: top; border: none; padding: 5px;}

    .general td{width: 50%; vertical-align: top; border:none; padding: 5px;}

    .client td{border-right: solid 1px #000; border-left: solid 1px #000;}
    .client td.libelle{width: 33%;}
    .client td.infos{width: 66%;}
    .client td.first{border-top: solid 1px #000;}
    .client td.last{border-bottom: solid 1px #000;}

    .content th.code, .content th.quantite{width: 7%}
    .content th.nature{width: 46%}
    .content th.date{width: 36%}
    .content td.last{border-bottom: solid 1px #000;}
    .content td{border-right: solid 1px #000; border-left: solid 1px #000; padding: 5px;}
    .content th{border: solid 1px #000; padding: 5px; background-color: #ccc; color: #000}

    .motif td{width:14.1%; border: solid 1px #000; text-align: center;}
    .motif td.titre{border: none;}

    .analyse td{width: 33%; text-align: center;}

    .signature td.note{font-size: 9px;}

    #footerContent{font-size: 11px}

    .sigle{font-size: 25px;}
    /* Page margins are defined using CSS */
    @page {
        margin: 1cm;
        margin-top:2.5cm;
        margin-bottom: 2.5cm;

        /* Header frame starts within margin-top of @page */
        @frame header {
    -pdf-frame-content: headerContent; /* headerContent is the #id of the element */
        top: 1cm;
        margin-left: 1cm;
        margin-right:1cm;
        height:1cm;
    }

        /* Footer frame starts outside margin-bottom of @page */
    @frame footer {
    -pdf-frame-content: footerContent;
    bottom: 0.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 1cm;
    }
    }
</style>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/dist/css/bootstrap.min.css') }}" />
{% endblock %}

<page backtop="" backright="0" backleft="0" backbottom="10mm">

    <table class="header">
        <tr>
            <td class="text-center">
                MINISTERE DE LA SANTE ET DE LA LUTTE CONTRE LE SIDA
            </td>
            <td class="text-center right">

            </td>
            <td class="text-center right">
                <span>REPUBLIQUE DE CÔTE D'IVOIRE</span>
                <span>UNION - DISCIPLINE - TRAVAIL</span>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <span class="rci">{% if fiche.hopital %}{{ fiche.hopital.nom }}{% else %}HOPITAL{% endif %}</span>
                <span class="udt">Tèl : 22 44 00 00</span>
            </td>
            <td class="text-center right">

            </td>
            <td class="text-center right">
                Abidjan, le {{ fiche.dateConsultation|date("d/m/Y") }}
            </td>
        </tr>
    </table>

    <div class="separator"></div>

    <table>
        <tr>
            <th class="titre0">
            </th>
            <th class="text-center titre">
                FICHE DE CONSULTATION
            </th>
            <th class="titre1">
            </th>
        </tr>
    </table>

    <div class="separator"></div>

    <div class="patient">
          REF: <strong>{{ fiche.refConsultation }}</strong> <i>(Pour les paiements , labo et hospitalisation)</i><br><br>
            <div  style="text-align:right;border-bottom:1px solid #DDD;margin-bottom: 5px;padding-bottom: 5px;">
                MEDECIN TRAITANT<br>
                Nom : {{ fiche.medecin.personne.nom }}<br>
                Prenom : {{ fiche.medecin.personne.prenom }}<br>
                Spécialité : <b>{{ fiche.specialite.nom }}</b>
            </div>
            <table class="">
                <tr>
                    <td width="50%">
                    <table>
                        <tr>
                            <td>INFORMATIONS PATIENT</td>
                        </tr>
                        <tr>
                            <td>Nom : {{ fiche.patient.personne.nom }}</td>
                        </tr>
                        <tr>
                            <td>Prenom : {{ fiche.patient.personne.prenom }}</td>
                        </tr>
                        <tr>
                            <td>Âge : {{ fiche.patient.personne.age }} ans</td>
                        </tr>
                    </table>
                    </td>
                </tr>
            </table>

    </div>

    <div class="separator"></div>

    <div class="patient">
        <fieldset>
            <legend>CONSTANTES</legend>
            <table class="">
                {% for item in fiche.constantes %}
                    {% if item.valeur is not same as('') %}
                        <tr>
                            <td>{{ item.constante.libelle }} : {{ item.valeur }}</td>
                        </tr>
                    {% endif %}
               {% endfor %}
            </table>
        </fieldset>

    </div>

    <div class="separator"></div>

    <div class="patient">
        <table class="">
            <tr>
                <td>Motif : {{ fiche.motif }}</td>
            </tr>
             <tr>
                <td>Hypothèse : {{ fiche.diagnostique }}</td>
            </tr>
             <tr>
                <td>Diagnostic Retenu : {{ fiche.diagnostiqueFinal }}</td>
            </tr>
        </table>
    </div>

    <div class="separator"></div>

    <!--<div class="patient" style="display: none;">
        <fieldset>
            <legend>DIAGNOSTIC (AFFECTIONS)</legend>
            <table class="">
                {% for key, item in fiche.affections %}
                <tr>
                    <td>{{ item.affection }}</td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>

    </div>-->
    <div class="separator"></div>

    <div class="patient">
        <fieldset>
            <legend>ANALYSES</legend>
            <table class="">
                {% set i = 0 %}
                {% for key, item in fiche.analyses %}
                {% set i = i + 1 %}
                <tr>
                    <td>{{ i }} - {{ item.analyse }} : {{ item.libelle }}</td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>

    </div>


    <div class="separator"></div>

    <div class="patient">
        <fieldset>
            <legend>ORDONNANCE (LISTE DE MEDICAMENTS)</legend>
            <table class="">
                {% set i = 0 %}
                {% for key, item in fiche.medicaments %}
                    {% set i = i + 1 %}
                <tr>
                    <td>{{ i }} - {{ item.medicament }} : {{ item.posologie }}</td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>

    </div>

    
    <page_footer>
        <table class="signature">
            <tr>
                <td class="text-left">Nom et visa du patient </td>
                <td class="text-right">Nom et visa du médécin</td>
            </tr>
            <tr>
                <td class="text-left">{% if fiche.patient.personne.signature %}<img src="{{ signaturePath ~ fiche.patient.personne.signature }}" height="50" />{% endif %}<br><br><br><br><br></td>
                <td class="text-right">{% if fiche.medecin.personne.signature %}<img src="{{ signaturePath ~ fiche.medecin.personne.signature }}" height="50" />{% endif %}<br><br><br><br><br></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center note">
                    <i>"La signature de ce document atteste que le client a pris connaissance et approuve les termes de la plateforme."</i>
                </td>
            </tr>
        </table>
        <hr>
        <div id="footerContent" class="text-center">
            PASS+SANTE | LA SANTE N'A PAS DE PRIX, CAR NOUS N'AVONS QU'UNE VIE
        </div>
    </page_footer>
</page>#}

{% macro page_header() %}

   <table style="width:100%;font-family:Times;">
       <tr>
        <td align="left" width="15%">
            <img src="{{ absolute_url(asset('uploads/logo_mshp.jpeg')) }}" alt="logo" style="max-width: 100%;height: 50px;" >
        </td>
    
      
        <td align="center">
         MINISTERE DE LA SANTE ET DE LA LUTTE CONTRE LE SIDA<br>
         -----------------------------------------------------<br>
         PASS POSTE SANTE
        </td>
      
      
      
        <td align="right"  width="15%">
          <img src="{{ absolute_url(asset('uploads/logo_pass_tp.png')) }}" alt="logo" style="max-width: 100%;height: 50px;" >

        </td>
      </tr>
   </table>
   <div style="height:1px;border:2px solid #333"></div>
   


{% endmacro %}

<!DOCTYPE html>
<html>
<head>
  <title>Fiche de fiche patient</title>
  <style>
  {% block page_css %}
  @page {
  margin-top: 0.5cm;
  margin-header: 10cm; /* <any of the usual CSS values for margins> */
  margin-footer: 5mm; /* <any of the usual CSS values for margins> */
  /*header: html_headerContent;*/
  footer: html_pageFooter;
  /*background: ...
  background-image: ...
  background-position ...
  background-repeat ...
  background-color ...
  background-gradient: ...*/
}
  {% endblock %}

  .clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }


/*@page :first {
   header: html_headerContent;
}*/

  .table {
  width: 100%;
  max-width: 100%;

}
.table {page-break-before:auto;}

body { font-family: Arial,Helvetica,DejaVu Sans; }

.table th,
.table td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #191919;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #191919;
}

.table tbody + tbody {
  border-top: 2px solid #191919;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #191919;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #191919;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #191919;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media all {
    /*.content { display: block; page-break-inside: avoid; }*/
}

.content {
  /*margin-top: 18cm;*/
}

.table-responsive.table-bordered {
  border: 0;
}</style>
</head>
<body style="font-size:13px;">
  <div>
    {% block header %}{{ _self.page_header }}{% endblock %}
    <h1 style="text-align:center;text-decoration:underline">Fiche de consultation  du {{ fiche.date|date("d/m/Y") }}</h1>
     <table width="100%">
        <tr>
            <td width="15%">
              <img class="profile-user-img" {% if fiche.patient.personne.photo is not null %}src="{{ asset(fiche.patient.personne.photo.webPath) }}" alt="{{ fiche.patient.personne.photo.alt }}" {% else %}src="{{ asset('bundles/avanzuadmintheme/img/avatar.png') }}" alt="User profile picture" {% endif %} style="max-width:100%" width="150px">
            </td>
            <td width="70%" style="vertical-align:top;">
              <table width="100%">
                <tr>
                  <td width="15%">Nom: </td>
                  <td><b>{{ fiche.patient.personne.nomComplet }}</b></td>
                </tr>
                <tr>
                  <td width="15%">Age: </td>
                  <td><b>{{ fiche.patient.personne.age }} ans</b></td>
                </tr>
                <tr>
                  <td width="15%">Groupe Sanguin: </td>
                  <td><b>{{ fiche.patient.groupeSanguin.libelle|default('-') }}</b></td>
                </tr>
                 <tr>
                  <td width="15%">Statut: </td>
                  <td><b>{{ fiche.patient.statut.libelle|default('-') }}</b></td>
                </tr>
              </table>
            </td>
        </tr>
        
    </table>

    <table width="100%">
        <tr>
            <td style="background-color:#333;color:#fff;text-align:center;text-transform:uppercase" width="100%" colspan="2">Information sur le centre de santé</td>
        </tr>
        <tr>
            <td width="30%">Nom: </td>
            <td>{{ fiche.hopital.nom }} </td>
        </tr>
         <tr>
            <td width="30%">Médecin Traitant: </td>
            <td>{{ fiche.medecin.personne.nomComplet }}</td>
        </tr>
        
    </table>
     <table class="" width="100%">
       <tr>
            <td style="background-color:#333;color:#fff;text-align:center;text-transform:uppercase" width="100%" colspan="2">Signes vitaux</td>
        </tr>
            {% for key, item in fiche.constantes if item.valeur %}
                
                <tr>
                    <td width="50%">{{ item.constante.libelle }}</td> <td>{{ item.valeur }}</td>
                </tr>
                {% endfor %}

        </table>
    <table width="100%">
        <tr>
            <td style="background-color:#333;color:#fff;text-align:center;text-transform:uppercase" width="100%" colspan="2">Examens Biologiques</td>
        </tr>
        {% for key, item in fiche.examens if item.examen.categorie.id == 1 %}
                
                <tr>
                    <td width="50%">{{ item.examen.libelle }}</td> <td>{{ item.valeur }}</td>
                </tr>
                {% endfor %}
    </table>
     <table width="100%">
        <tr>
            <td style="background-color:#333;color:#fff;text-align:center;text-transform:uppercase" width="100%" colspan="2">Examens Cliniques</td>
        </tr>
        {% for key, item in fiche.examens if item.examen.categorie.id == 2 %}
                
                <tr>
                    <td width="50%">{{ item.examen.libelle }}</td> <td>{{ item.valeur }}</td>
                </tr>
                {% endfor %}
    </table>
     <table width="100%">
        <tr>
            <td style="background-color:#333;color:#fff;text-align:center;text-transform:uppercase" width="100%">Traitements</td>
        </tr>
        {% for key, item in fiche.traitements %}
                    
                <tr>
                    <td>{{ loop.index }} - {{ item.libelle }}</td>
                </tr>
                {% endfor %}
    </table>


   

    <htmlpagefooter name="pageFooter">
        <div style="height:2px;border:1px solid #000"></div>
        <table style="width:100%;">
           <tr>
            <td style="color:rgb(0,0,0);text-align:center;font-family:dejavusans,font-size:8px;font-style:italic;font-weight:bold;width:90%">
   
      <span style="font-size:10px;"> PASS+SANTE | LA SANTE N'A PAS DE PRIX, CAR NOUS N'AVONS QU'UNE VIE</span><br>
  </td>
  <td style="text-align:right;">
   
      <span style="font-size:10px;">{PAGENO}/{nbpg}</span><br>
  </td>
                
            </tr>
      </table>
    </htmlpagefooter>
  </div>
</body>
</html>